@font-face {
	font-family: Comic Sans MS;
	src: url('fonts/comic.tff');
}
* {
	font-family: Comic Sans MS;
	margin: 0;
}
article {
	padding: 30px;
	font-size: 25px;
}
article h1 {
	font-size: 40px;
	text-align: center;
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #FFFFFF;
 	background-color: #4444FF;
 	padding: 20px;
}
header a {
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: px;
	border-radius: 4px;
	color: #FFFFFF;
}
header a:hover {
 	background-color: #8888FF;
}
header a.active {
 	background-color: #BBBBFF;
}
#header-right {
 	float: right;
}
#section-white {
	background-color: #FFFFFF;
 	padding: 20px;
	font-size: 25px;
}
#section-blue {
	background-color: #BBBBFF;
	color: #FFFFFF;
 	padding: 20px;
	font-size: 25px;
}
#level-name {
	font-size: 50px;
	display: inline;
	padding: 40px;
}